@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --dark-purple: #745cfc;
  --light-purple: #846fff;
  --hot-pink: #ef308f;
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 542px;
}

.entry-item-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.entry-item-text p {
  margin: 0 15px;
  background-color: var(--dark-purple);
  border-radius: 5px;
  width: 100%;
  padding: 5px 0 5px 5px;
}

.entry-item p {
  color: white;
}

.entry-item-bottom-border {
  border-bottom: 1px solid #c4c4c4;
  max-width: 541px;
}

.fa-bars {
  color: white;
}
.fa-bars:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

/*drag and drop*/
.entry-item-container.dragging {
  opacity: 0.5;
}

#spinningWheel {
  position: relative;
  width: fit-content;
}

#wheel {
  display: block;
  color: blue;
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 600px;
}

#entries {
  width: 100%;
  max-height: 636px;
  overflow: hidden auto;
}

#entries::-webkit-scrollbar {
  width: 10px;
}

#entries::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--dark-purple);
  background-color: var(--dark-purple);
  border-radius: 50px;
}

#entries::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}

#pointer {
  width: 30px;
  transform: rotate(180deg);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 3px;
}

/* buttons */
.btn-white {
  background-color: white;
  color: var(--dark-purple);
}

.btn-red {
  background-color: var(--hot-pink);
  color: white;
}

/* nav styles */
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: white;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  color: var(--dark-purple) !important;
}

/*Wheel area */
.wheel-area {
  padding: 30px 0;
}
.wheel-area-background {
  background-color: var(--light-purple);
  border-radius: 30px;
}

.wheel-area {
  background-color: var(--dark-purple);
}

form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.form-control {
  background-color: var(--dark-purple);
  border: none;
  color: white;
}

.form-group {
  margin-right: 15px;
  width: 100%;
  max-width: 450px;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus {
  background-color: var(--dark-purple);
  border: none;
  color: white;
}

.col-md-6 {
  margin-top: 10px;
}
